// main: ../waterfall-reviews.less

/**
 * Styling for the prices component
 */
.wfr-best-price {
    font-size: 1.75em;
}

.atom-button ~ .wfr-prices .wfr-price {
    float: right;
    margin-left: @grid-space*0.5;
}

.wfr-regular-price {
    align-items: center;
    border: 1px solid @border;
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: @grid-space*0.25 @grid-space*0.5;
    .single .content & {
        padding: @grid-space*0.5 @grid-space;    
        .atom-button {
            padding: @grid-space*0.5 @grid-space; 
        }
    }
    .single .content .wfr-reviews-component &, .single .content .wfr-tables & {
        padding: @grid-space*0.25 @grid-space*0.5;
        .atom-button {
            padding: @grid-space*0.25 @grid-space*0.5;
        }
    }
    .molecule-post & {
        border: none;
        padding: @grid-space*0.25 0;
        &:last-of-type {
            border: none;
        }
    }
    &:first-of-type {
        border-radius: 5px 5px 0 0;
    }
    &:last-of-type {
        border-bottom: 1px solid @border;
        border-radius: 0 0 5px 5px;
    }    
    .components-image-background & {
        border: 1px solid rgba(255, 255, 255, 0.4); 
        border-bottom: none;
        &:last-of-type {
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        }            
    }
    > span {
        margin-bottom: @grid-space*0.25;
        margin-top: @grid-space*0.25;
    }
}

.wfr-price-name {
    flex-grow: 1;
    font-size: 1.2em;
    margin-right: @grid-space*0.5;
    .main-header & {
        width: 100%;    
    }    
}

.wfr-price-value {
    margin-right: @grid-space*0.5;
}

.wfr-price-currency {
    margin-right: -0.25em;
}

.wfr-price-unit {
    font-size: 0.8em;
    opacity: 0.8;
}

.wfr-price-prefix {
    opacity: 0.8;  
}

.wfr-price-button {
    .wfr-prices-widget & {
        flex-grow: 1;
        width: 100%;   
    }
    @media screen and (max-width: 767px) {
        flex-grow: 1;
    }   
}

.wfr-prices-widget-fixed {
    position: sticky;
    top: @grid-space;
}